<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="CodeMonkey Player" Manufacturer="MisterPark" Version="1.1.4"
           UpgradeCode="7EAD4850-3CC9-40E1-991B-1192AFCA2479" Scope="perMachine" Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version of CodeMonkey Player is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="..\CodeMonkeyPlayer\Assets\CodeMonkeyPlayer.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/MisterPark/CodeMonkeyPlayer" />
    <Property Id="DESKTOPSHORTCUT" Value="1" Secure="yes" />
    <Property Id="REGISTERVIDEO" Value="1" Secure="yes" />
    <Property Id="APPLANGUAGE" Value="ko" Secure="yes" />
    <Property Id="NETFRAMEWORK48">
      <RegistrySearch Id="FindNet48" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Release" Type="raw" />
    </Property>
    <Launch Condition="Installed OR NETFRAMEWORK48 &gt;= &quot;#528040&quot;" Message="Microsoft .NET Framework 4.8 or later is required." />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="CodeMonkey Player">
        <Component Id="PlayerExecutable" Guid="*">
          <File Id="PlayerExe" Source="$(var.PayloadDir)\CodeMonkeyPlayer.exe" KeyPath="yes" />
        </Component>
        <Component Id="PlayerConfiguration" Guid="*"><File Source="$(var.PayloadDir)\CodeMonkeyPlayer.exe.config" /></Component>
        <Component Id="MpvEngine" Guid="*"><File Source="$(var.PayloadDir)\libmpv-2.dll" /></Component>
        <Component Id="MpvNotices" Guid="*"><File Source="$(var.PayloadDir)\THIRD-PARTY-NOTICES.txt" /></Component>
        <Component Id="MpvLicense" Guid="*"><File Source="$(var.PayloadDir)\COPYING-mpv.txt" /></Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramFilesFolder">
      <Component Id="InstallationDefaults" Guid="*" Bitness="always32">
        <RegistryValue Root="HKLM" Key="SOFTWARE\MisterPark\CodeMonkeyPlayer\Setup" Name="Language" Value="[APPLANGUAGE]" Type="string" KeyPath="yes" />
      </Component>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="MenuFolder" Name="CodeMonkey Player">
        <Component Id="StartMenuShortcut" Guid="*">
          <Shortcut Id="StartPlayer" Name="CodeMonkey Player" Target="[INSTALLFOLDER]CodeMonkeyPlayer.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" />
          <RemoveFolder Id="RemoveMenuFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\MisterPark\CodeMonkeyPlayer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*" Condition="DESKTOPSHORTCUT = &quot;1&quot;">
        <Shortcut Id="DesktopPlayer" Name="CodeMonkey Player" Target="[INSTALLFOLDER]CodeMonkeyPlayer.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\MisterPark\CodeMonkeyPlayer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
    <Feature Id="Player" Title="CodeMonkey Player" Level="1">
      <ComponentRef Id="PlayerExecutable" /><ComponentRef Id="PlayerConfiguration" />
      <ComponentRef Id="MpvEngine" /><ComponentRef Id="MpvNotices" /><ComponentRef Id="MpvLicense" />
      <ComponentRef Id="StartMenuShortcut" /><ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="InstallationDefaults" /><ComponentRef Id="VideoAssociations" />
    </Feature>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <UI>
      <DialogRef Id="PlayerOptionsDlg" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PlayerOptionsDlg" Order="3" Condition="NOT Installed" />
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="PlayerOptionsDlg" Order="3" Condition="NOT Installed" />
    </UI>
  </Package>
</Wix>

